@font-face {
  font-family: 'Sen-Bold';
  src: url('../../public/fonts/Sen-Bold.ttf');
}

@font-face {
  font-family: 'Sen-ExtraBold';
  src: url('../../public/fonts/Sen-ExtraBold.ttf');
}

@font-face {
  font-family: 'Sen-Medium';
  src: url('../../public/fonts/Sen-Medium.ttf');
}

@font-face {
  font-family: 'Sen';
  src: url('../../public/fonts/Sen-Regular.ttf');
}

@font-face {
  font-family: 'Sen-SemiBold';
  src: url('../../public/fonts/Sen-SemiBold.ttf');
}
